<!DOCTYPE html>
<html lang="en" id="theme" class="light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/cdn-cgi/apps/head/hwGM7B4uQy9K8KyLEDAfJqNEXmU.js"></script><link rel="shortcut icon" href="assets/images/auction-fevicon.png">
    <title>Privacy Policy</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="assets/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

</head>

<body>
    <!-- Preloader Start -->
    <%- include('nav') %>
    <!-- Header End !-->
    <!-- Main Content Start !-->
    <main id="main-content" class="position-relative">
        <div class="breadcrumb-main">
            <div class="container">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                    </ol>
                    <h1 class="breadcrumb-title">A Privacy Policy of BidZone</h1>
                </div>
            </div>
        </div>
        <section class="outer-gap">
            <div class="container">
                <div class="row">
                    <div class="d-none d-lg-block col-lg-3">
                        <ul class="privacy-list">
                            <li>
                                <a href="#Introduction">Information</a>
                            </li>
                            <li>
                                <a href="#Notification">Notification</a>
                            </li>
                            <li>
                                <a href="#CookiesTechnologies">Affiliate Companies</a>
                            </li>
                            <li>
                                <a href="#YourRights">Occasionally</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div class="privacy-content">
                            <h5 id="Introduction">Introduction</h5>
                            <p>Welcome to our privacy policy. Here, we outline how we collect, use, and protect your personal information. Your privacy is important to us, and we are committed to safeguarding it.</p>
                            <h5 id="Notification">Notification</h5>
                            <p>We will notify you of any changes to our privacy policy by updating this page. You are advised to review this privacy policy periodically for any changes. Changes to this privacy policy are effective when they are posted on this page.</p>
                            <ul>
                                <li>We may send you notifications regarding your account or any services you have requested or subscribed to.</li>
                                <li>You can opt-out of receiving notifications by contacting us.</li>
                                <li>Any changes to our privacy policy will be communicated to you via email or through a notice on our website.</li>
                            </ul>
                            <h5 id="CookiesTechnologies">Cookies and Similar Technologies</h5>
                            <p>We use cookies and similar technologies to improve your browsing experience and to analyze how you use our website. By using our website, you consent to our use of cookies in accordance with our privacy policy.</p>
                            <p>You can control and manage cookies in various ways. Please refer to your browser's settings or help section for more information on how to manage cookies.</p>
                            <ul>
                                <li>We use cookies to personalize content and ads, to provide social media features, and to analyze our traffic.</li>
                                <li>We also share information about your use of our site with our social media, advertising, and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services.</li>
                            </ul>
                            <h5 id="YourRights">Your Rights</h5>
                            <p>You have the right to access, update, or delete your personal information. If you would like to exercise any of these rights, please contact us.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    <!-- Main Content End !-->
    <!-- Footer Start !-->
    <%- include('footer')%>
    <!-- Footer End !-->
    <!-- JavaScript Libraries -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/custom.js"></script>

<script>(function(){var js = "window['__CF$cv$params']={r:'8629bdf07a5f032f',t:'MTcxMDE0MTIwNy4xNDIwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";var _0xh = document.createElement('iframe');_0xh.height = 1;_0xh.width = 1;_0xh.style.position = 'absolute';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border = 'none';_0xh.style.visibility = 'hidden';document.body.appendChild(_0xh);function handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if (_0xi) {var _0xj = _0xi.createElement('script');_0xj.innerHTML = js;_0xi.getElementsByTagName('head')[0].appendChild(_0xj);}}if (document.readyState !== 'loading') {handler();} else if (window.addEventListener) {document.addEventListener('DOMContentLoaded', handler);} else {var prev = document.onreadystatechange || function () {};document.onreadystatechange = function (e) {prev(e);if (document.readyState !== 'loading') {document.onreadystatechange = prev;handler();}};}})();</script></body>

</html>