<footer>
    <div class="footer-top bg-dark inner-gap">
        <div class="container">
            <div class="row gy-4 gy-lg-3">
                <div class="col-md-12 col-lg-4">
                    <div class="footer-disc">
                        <a href="index" class="footer-logo">
                            <img src="assets/images/logo-white.svg" id="footerLogo" class="fThemeLogo img-fluid"
                                alt="logo">
                        </a>
                        <p>Unlock treasures through exhilarating auctions. Your gateway to rare finds and
                            captivating experiences awaits.</p>
                        <a href="mailto:info@bidzone.com" class="h4 fw-normal text-white">support@bidzone.com</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-widget">
                        <h5 class="widget-title">Sitemap</h5>
                        <ul class="ps-3 widget-links">
                            <!-- <li>
                                <a href="blog">Blog</a>
                            </li>
                            <li>
                                <a href="faq">FAQS</a>
                            </li> -->
                            <li>
                                <a href="about">About</a>
                            </li>
                            <li>
                                <a href="contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-widget">
                        <h5 class="widget-title">Categories</h5>
                        <ul class="ps-3 widget-links">
                            <li>
                                <a href="browse-bid">Music</a>
                            </li>
                            <li>
                                <a href="browse-bid">jewellery</a>
                            </li>
                            <li>
                                <a href="browse-bid">Real Estate</a>
                            </li>
                            <li>
                                <a href="browse-bid">vehicle</a>
                            </li>
                            <li>
                                <a href="browse-bid">Clothes</a>
                            </li>
                            <li>
                                <a href="browse-bid">sports</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-widget">
                        <h5 class="widget-title">Navigation</h5>
                        <ul class="ps-3 widget-links">

                            <li>
                                <a href="/user-dashboard">my account</a>
                            </li>
                            <li>
                                <a href="/my-auctions">Bid History</a>
                            </li>
                            <!-- <li>
                                <a href="/checkout">checkout</a>
                            </li> -->
                            <!-- <li>
                                <a href="payment">payment</a>
                            </li> -->
                            <!-- <li>
                                <a href="winner">winner</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-widget">
                        <h5 class="widget-title">Legal</h5>
                        <ul class="ps-3 widget-links">
                            <li>
                                <a href="/privacy">Privacy Policy</a>
                            </li>
                            <!-- <li>
                                <a href="cookies-policy">Cookies Policy</a>
                            </li>
                            <li>
                                <a href="term-condition">Terms Of Service</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <hr class="my-4 my-lg-5 border-white">
            <div
                class="d-flex flex-wrap gap-4 justify-content-center justify-content-xl-between align-items-center">
                <ul class="footer-social-links">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <div class="bid-number">
                    <h2><span>1,50,000</span> Bids</h2>
                    <h2><span>10,376</span> Members</h2>
                    <h2><span>8942</span> Feedbacks</h2>
                </div>
            </div> -->
        </div>
    </div>
    
</footer>
<!-- Footer End !-->

<!-- JavaScript Libraries -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/custom.js"></script>
<script>
    var swiper = new Swiper(".categorySwiper", {
        spaceBetween: 32,
        autoplay: {
            delay: 1000,
        },
        breakpoints: {
            450: {
                slidesPerView: 2,
            },
            768: {
                slidesPerView: 3,
            },
            992: {
                slidesPerView: 4,
            },
            1400: {
                slidesPerView: 6,
            },
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });

    const mySwiper = new Swiper('.banner-slider', {
        effect: "cards",
        grabCursor: true,
        slidesPerView: 1,
        autoplay: {
            delay: 2000,
        },
    });


    var x = 0;
    var y = 1;
    var currentActiveSlide = $('.swiper-slide-active .banner-card img').attr('src');
    $('#current-image').css('background-image', `url(${currentActiveSlide})`);

    mySwiper.on('slideChange', function (e) {
        x = e.activeIndex;
        if (y <= x) {
            var currentActiveSlide = $('.swiper-slide-next .banner-card img').attr('src');
            $('#current-image').css('background-image', `url(${currentActiveSlide})`);
        }
        else {
            var currentActiveSlide = $('.swiper-slide-prev .banner-card img').attr('src');
            $('#current-image').css('background-image', `url(${currentActiveSlide})`);
        }
        y = x;
    });


</script>
